/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --step--2: clamp(0.7813rem, 0.5178rem + 1.124vw, 1.3889rem);
  --step--1: clamp(0.9375rem, 0.6214rem + 1.3487vw, 1.6667rem);
  --step-0: clamp(1.125rem, 0.7457rem + 1.6185vw, 2rem);
  --step-1: clamp(1.35rem, 0.8948rem + 1.9422vw, 2.4rem);
  --step-2: clamp(1.62rem, 1.0738rem + 2.3306vw, 2.88rem);
  --step-3: clamp(1.944rem, 1.2885rem + 2.7968vw, 3.456rem);
  --step-4: clamp(2.3328rem, 1.5462rem + 3.3561vw, 4.1472rem);
  --step-5: clamp(2.7994rem, 1.8555rem + 4.0273vw, 4.9766rem);
  --fluid-24-64: clamp(1.5rem, 0.4162rem + 4.6243vw, 4rem);
}

/* LIGHT THEME */
body {
  font-family: "Rubik", sans-serif;
}

.start-menu .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.start-menu .info__heading {
  font-size: var(--step-4);
  font-weight: 200;
  line-height: 1.2;
  max-width: 18ch;
}
.start-menu .info .instruction {
  font-style: italic;
  font-size: var(--step--2);
}

.quiz__length {
  font-style: italic;
  font-size: var(--step--1);
}

.quiz__question {
  font-size: var(--step-1);
  line-height: 1.2;
  font-weight: 600;
  margin-block-start: 0.75rem;
  margin-block-end: 1.5rem;
}

.score__heading {
  font-weight: 300;
  font-size: var(--step-4);
  line-height: 1.2;
}
@media (min-width: 64em) {
  .score__heading {
    max-width: 12ch;
  }
}

body {
  background-repeat: no-repeat;
}
@media (min-width: 64em) {
  body {
    background-size: cover;
  }
}

.choices {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--step--2);
}
@media (min-width: 64em) {
  .choices {
    margin-block-start: 0;
  }
}
.choices .choice button {
  padding: var(--step--1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: var(--step--1);
  cursor: pointer;
}
.choices .choice button .choice__col-one {
  display: flex;
  align-items: center;
  gap: var(--step--1);
}

.letter {
  color: #626C7F;
  background-color: #F4F6FA;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.correct-incorrect-icon {
  line-height: 0;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  border-radius: 0.75rem;
  margin-block-start: 2.5rem;
}
@media (min-width: 64em) {
  .score {
    margin-block-start: 0;
  }
}

.score__subject {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--step--1);
}

#js-score {
  font-size: clamp(5.5rem, 4.2826rem + 6.087vw, 9rem);
}

body {
  transition: background-color 0.3s, color 0.3s;
  background-color: #F4F6FA;
  color: #313E51;
}
body .switch svg path {
  fill: #626C7F;
}
body .instruction {
  color: #626C7F;
}
body .quiz__length {
  color: #626C7F;
}
body .subjects .item .subject {
  background-color: #fff;
  color: #313E51;
  box-shadow: 0 16px 40px hsla(220, 29%, 66%, 0.14);
}
body .choices .choice button {
  background-color: #fff;
  color: #313E51;
  box-shadow: 0 16px 40px hsla(220, 29%, 66%, 0.14);
}
body .score {
  background-color: #fff;
}
body .score__info {
  color: #626C7F;
}
body .primary-btn {
  box-shadow: 0 16px 40px hsla(220, 29%, 66%, 0.14);
}

.light-theme {
  background-color: #F4F6FA;
  color: #313E51;
  background-image: url("/assets/images/pattern-background-mobile-light.svg");
}
.light-theme .switch svg path {
  fill: #626C7F;
}
.light-theme .instruction {
  color: #626C7F;
}
.light-theme .quiz__length {
  color: #626C7F;
}
.light-theme .subjects .item .subject {
  background-color: #fff;
  color: #313E51;
  box-shadow: 0 16px 40px hsla(220, 29%, 66%, 0.14);
}
.light-theme .choices .choice button {
  background-color: #fff;
  color: #313E51;
  box-shadow: 0 16px 40px hsla(220, 29%, 66%, 0.14);
}
.light-theme .score {
  background-color: #fff;
}
.light-theme .score__info {
  color: #626C7F;
}
.light-theme .primary-btn {
  box-shadow: 0 16px 40px hsla(220, 29%, 66%, 0.14);
}
@media (min-width: 48em) {
  .light-theme {
    background-image: url("/assets/images/pattern-background-tablet-light.svg");
  }
}
@media (min-width: 64em) {
  .light-theme {
    background-image: url("/assets/images/pattern-background-desktop-light.svg");
  }
}

.dark-theme {
  background-color: #313E51;
  color: #fff;
  background-image: url("/assets/images/pattern-background-mobile-dark.svg");
}
.dark-theme .switch svg path {
  fill: #fff;
}
.dark-theme .instruction {
  color: #ABC1E1;
}
.dark-theme .quiz__length {
  color: #ABC1E1;
}
.dark-theme .subjects .item .subject {
  background-color: #3B4D66;
  color: #fff;
  box-shadow: 0 16px 40px hsla(216, 25%, 25%, 0.14);
}
.dark-theme .choices .choice button {
  background-color: #3B4D66;
  color: #fff;
  box-shadow: 0 16px 40px hsla(216, 25%, 25%, 0.14);
}
.dark-theme .score {
  background-color: #3B4D66;
}
.dark-theme .score__info {
  color: #ABC1E1;
}
.dark-theme .primary-btn {
  box-shadow: 0 16px 40px hsla(216, 25%, 25%, 0.14);
}
@media (min-width: 48em) {
  .dark-theme {
    background-image: url("/assets/images/pattern-background-tablet-dark.svg");
  }
}
@media (min-width: 64em) {
  .dark-theme {
    background-image: url("/assets/images/pattern-background-desktop-dark.svg");
  }
}
.dark-theme .switch-thumb {
  transform: translateX(12px);
}

.switch {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.switch span {
  line-height: 0;
}
.switch svg {
  width: var(--step-0);
  height: var(--step-0);
}
.switch-thumb--container {
  background-color: #A729F5;
  width: 2rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 4px;
  cursor: pointer;
  position: relative;
}
.switch-thumb {
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.primary_btn {
  color: #fff;
  background-color: #A729F5;
  margin-block-start: var(--step--2);
  border: none;
  border-radius: 0.75rem;
  padding-block: 0.75rem;
  width: 100%;
  font-size: var(--step-0);
  font-weight: 500;
}

.subjects {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--step--2);
}
@media (min-width: 64em) {
  .subjects {
    margin-block-start: 0;
  }
}
.subjects .item .subject {
  padding: var(--step--1);
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--step--1);
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: var(--step-0);
  cursor: pointer;
}

.icon-container {
  padding: 5px;
  border-radius: 6px;
}

.icon__html {
  background-color: #FFF1E9;
}

.icon__css {
  background-color: #E0FDEF;
}

.icon__javascript {
  background-color: #EBF0FF;
}

.icon__accessibility {
  background-color: #F6E7FF;
}

#quiz-progress {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  border-radius: 1rem;
  margin-block-start: auto;
  margin-block-end: 3rem;
}
#quiz-progress::-webkit-progress-bar {
  background-color: #fff;
  padding: 4px;
  border-radius: 1rem;
}
#quiz-progress::-webkit-progress-value {
  background-color: #A729F5;
  border-radius: 1rem;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: 1rem;
  margin-block-end: 2rem;
}
@media (min-width: 64em) {
  .header-menu {
    padding-block: 0;
    margin-block: 6rem;
  }
}

.question__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  margin-block-end: 2rem;
}
@media (min-width: 64em) {
  .question__header {
    padding-block: 0;
    margin-block: 6rem;
  }
}
.question__header .question__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--step--1);
}

.container {
  padding-inline: var(--fluid-24-64);
  padding-block-end: 1rem;
  max-width: 100rem;
  margin-inline: auto;
}

.start-menu {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 64em) {
  .start-menu {
    grid-template-columns: 1fr 1fr;
  }
}

.quiz {
  display: grid;
  grid-template-columns: 1fr;
}
.quiz__info {
  display: flex;
  flex-direction: column;
}
@media (min-width: 64em) {
  .quiz {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

.score__section form {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 64em) {
  .score__section form {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
