@use '../abstracts' as *;


body {
  font-family: $ff-main;
  display: grid;
  place-items: center;
}

.start-menu {
  margin-block-start: 2rem;
  width: 90%;
  margin-block-end: 15rem;

  .welcome-section {
    h1 {
      line-height: 1.2;
      font-size: 2.5rem;
      color: $dark-navy;
      font-weight: 500;
      margin-block-end: 1rem;
      span {
        font-weight: 300;  
      }
    }

    .instruction-text {
      font-style: italic;
      color: $grey-navy;
      font-size: 0.875rem;
    }
    
  }
}

.theme {
  display: flex;
  align-items: center;
  gap: 1rem;
  span {
    line-height: 0;
  }
}