@use '../abstracts' as *;

.choices {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--step--2);

  .choice {
    button {
      padding: var(--step--1);
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--step--1);
      border: none;
      border-radius: 12px;
      font-weight: 600;
      font-size: var(--step--1);
      cursor: pointer;
    }
  }
}

.letter {
  color: #626C7F;
  background-color: #F4F6FA;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}


.primary_btn {
  color: $white;
  background-color: $primary-clr;
  margin-block-start: .75rem; 
  border: none;
  border-radius: .75rem;
  padding-block: .75rem;
  width: 100%;
}