@use '../abstracts' as *;

.choices {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--step--2);

  @include respond-to('medium') {
    margin-block-start: 0;
  }

  .choice {
    button {
      padding: var(--step--1);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      border-radius: 12px;
      font-weight: 600;
      font-size: var(--step--1);
      cursor: pointer;

      .choice__col-one {
        display: flex;
        align-items: center;
        gap: var(--step--1);
      }
    }
  }
}

.letter {
  color: #626C7F;
  background-color: #F4F6FA;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.correct-incorrect-icon {
  line-height: 0;
}


.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  border-radius: .75rem;
  margin-block-start: 2.5rem;

  
  @include respond-to('medium') {
    margin-block-start: 0;
  }
}

.score__subject {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--step--1);
}

#js-score {
  font-size: clamp(5.5rem, 4.2826rem + 6.087vw, 9rem);
}