@use '../abstracts' as *;

// Button reset styles
button {
  border: none;
  background-color: transparent;
}


.btn {

  &__subject {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $dark-navy;
    font-weight: 500;
    font-size: 1.125rem;
  }
}