@use '../abstracts' as *;


.form__control {
  &--choice {
    background-color: $pure-white;
    padding-block: 0.75rem;
    padding-inline: 0.75rem;
    border-radius: 12px;


    input[type="radio"] {
      display: none;
    }
  }
}

.form__control--choice:has(input[type="radio"]:checked) {
  border: 3px solid $purple;

  .answer__container {
    .answers {
      .letter {
        background-color: $purple;
        color: $pure-white;
      }
    }
  }
}