@use '../abstracts' as *;


body {
  background-color: $light-grey;
  background-image: url('/assets/images/pattern-background-mobile-light.svg');
  background-repeat: no-repeat;

  @include respond-to('small') {
    background-image: url('/assets/images/pattern-background-tablet-light.svg');
  }
}