@use '../abstracts' as *;

.heading {
  &__main {
    color: $dark-navy;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;

    strong {
      font-weight: 500;
    }
  }
}

.quiz-instruction {
  font-style: italic;
  color: $grey-navy;
  font-size: 0.875rem;
  margin-block-start: 1rem;
}