@use '../abstracts' as *;

.heading {
  &__main {
    color: $dark-navy;
    font-weight: 300;
    line-height: 1.2;
    font-size: clamp(2.5rem, 5vw, 4rem);


    strong {
      font-weight: 500;
    }
  }
}

.quiz-instruction {
  font-style: italic;
  color: $grey-navy;
  font-size: clamp(0.875rem, 3vw, 1.25rem);
  margin-block-start: 1rem;
 
}