@use '../abstracts' as *;

.heading {
  &__main {
    color: $dark-navy;
    font-weight: 300;
    line-height: 1.2;
    font-size: clamp(2.5rem, 5vw, 4rem);


    strong {
      font-weight: 500;
    }
  }
}

.quiz-instruction {
  font-style: italic;
  color: $grey-navy;
  font-size: clamp(0.875rem, 3vw, 1.25rem);
  margin-block-start: 1rem;
}

.title {
  color: $grey-navy;
  font-size: clamp(0.875rem, 3vw, 1.25rem);
  font-style: italic;
  font-weight: 400;
  margin-block-end: 0.75rem;

  @include respond-to('medium') {
  margin-block-end: 1.7rem;

  }
}

.question {
  font-size: clamp($fs-body-m, 5vw, 2.25rem);
  font-weight: $fw-medium;
  color: $dark-navy;
  line-height: 1.2;
}

.answer__container {
  font-size: clamp(1.125rem, 2vw, 1.75rem);
  font-weight: $fw-medium;

  .letter {
    color: $grey-navy;
  }

  .answer  {
   color: $dark-navy;
  }
}