@use '../abstracts' as *;


.wrapper {
  padding-inline: 1.5rem;

  @include respond-to("small") {
    max-width: 45rem;
    margin-inline: auto;
   
  }

  @include respond-to("medium") {
    max-width: 64rem;
  }


  @include respond-to("large") {
    max-width: 80rem;
  }
}