@use '../abstracts' as *;


.start-menu {
  display: grid;
  grid-template-columns: 1fr;


  @include respond-to('medium') {
    grid-template-columns: 1fr 1fr;
  }

}

.quiz {
  display: grid;
  grid-template-columns: 1fr;


  &__info {
    display: flex;
    flex-direction: column;
  }

  @include respond-to('medium') {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

}

.score__section {
  form {
    display: grid;
    grid-template-columns: 1fr;
  
      @include respond-to('medium') {
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
    }
   
  }
}

