

// Colors

$purple: #A729F5;
$pure-white: #FFF;
$dark-navy: #313E51;
$grey-navy: #626C7F;
$light-grey: #F4F6FA;
$navy: #3B4D66;
$light-bluish: #ABC1E1;
$green: #26D782;
$red: #EE5454;

$clr-html: #FFF1E9;
$clr-css: #E0FDEF;
$clr-javascript: #EBF0FF;
$clr-accessibility: #F6E7FF;

// Typography

$ff-main: "Rubik", sans-serif;
$fs-display: 9rem;
$fs-heading-l: 4rem;
$fs-heading-m: 2.25rem;
$fs-heading-s: 1.75rem;
$fs-body-m: 0.75rem;

$fw-bold: 700;
$fw-medium: 500;

$lh-medium: 1.25rem;

// Breakpoints

$breakpoints: (
  'small': (min-width: 48em),
  'medium': (min-width: 64em),
  'large': (min-width: 90em),
)