

// // Colors
/* LIGHT THEME */
$light-bg: #F4F6FA;
$light-heading-text: #313E51;
$light-sec-heading-text: #626C7F;
$light-choice-bg: #fff;
$light-choice-text: #313E51;
$light-error-text: #EE5454;

$light-theme: (
  "light-bg": #F4F6FA,
  "light-heading-text": #313E51,
  "light-sec-heading-text": #626C7F,
  "light-choice-bg": #fff,
  "light-choice-text": #313E51,
  "light-error-text": #EE5454
);


/* DARK THEME */
$dark-bg:#313E51;
$dark-heading-text: #fff;
$dark-sec-heading-text: #ABC1E1;
$dark-choice-bg: #3B4D66;
$dark-choice-text: #fff;


$choice-letter-bg: #F4F6FA;
$choice-letter: #626C7F;
$main-btn-clr: #A729F5;

$selected-choice-bc: #A729F5;
$correct-choice-bc: #26D782;
$error-choice-bc: #EE5454;

$html-clr: #FFF1E9;
$css-clr: #E0FDEF;
$javascript-clr: #EBF0FF;
$accessibility-clr: #F6E7FF;

// Typography
$ff-main: "Rubik", sans-serif;
$fs-display: 9rem;
$fs-heading-l: 4rem;
$fs-heading-m: 2.25rem;
$fs-heading-s: 1.75rem;
$fs-body-l: 1.5rem;
$fs-body-m: 1.25rem;
$fs-body-s: 0.75rem;

$fw-bold: 700;
$fw-medium: 500;

$lh-medium: 1.25rem;

$breakpoints: (
  'small': (min-width: 48em),
  'medium': (min-width: 64em),
  'large': (min-width: 90em),
)