

// // Colors

:root {
  --step--2: clamp(0.7813rem, 0.5178rem + 1.124vw, 1.3889rem);
  --step--1: clamp(0.9375rem, 0.6214rem + 1.3487vw, 1.6667rem);
  --step-0: clamp(1.125rem, 0.7457rem + 1.6185vw, 2rem);
  --step-1: clamp(1.35rem, 0.8948rem + 1.9422vw, 2.4rem);
  --step-2: clamp(1.62rem, 1.0738rem + 2.3306vw, 2.88rem);
  --step-3: clamp(1.944rem, 1.2885rem + 2.7968vw, 3.456rem);
  --step-4: clamp(2.3328rem, 1.5462rem + 3.3561vw, 4.1472rem);
  --step-5: clamp(2.7994rem, 1.8555rem + 4.0273vw, 4.9766rem);

  --fluid-24-64: clamp(1.5rem, 0.4162rem + 4.6243vw, 4rem);

}

/* LIGHT THEME */
$light-theme-colors: (
  background: #F4F6FA,
  text: #313E51,
  secondary-text: #626C7F,
  icon-color: #626C7F,
  card-bg: #fff,
  error-text: #EE5454,
  box-shadow-clr: hsla(220, 29%, 66%, 0.14)
);

$dark-theme-colors: (
  background: #313E51,
  text: #fff,
  secondary-text: #ABC1E1,
  icon-color: #fff,
  card-bg: #3B4D66,
  error-text: #fff,
  box-shadow-clr: hsla(216, 25%, 25%, 0.14)
);

$white: #fff;

$choice-letter-bg: #F4F6FA;
$choice-letter: #626C7F;
$primary-clr: #A729F5;

$selected-choice-bc: #A729F5;
$correct-choice-bc: #26D782;
$error-choice-bc: #EE5454;

$html-clr: #FFF1E9;
$css-clr: #E0FDEF;
$js-clr: #EBF0FF;
$ally-clr: #F6E7FF;

// Typography
$ff-main: "Rubik", sans-serif;
$fs-display: 9rem;
$fs-heading-l: 4rem;
$fs-heading-m: 2.25rem;
$fs-heading-s: 1.75rem;
$fs-body-l: 1.5rem;
$fs-body-m: 1.25rem;
$fs-body-s: 0.75rem;

$fw-bold: 700;
$fw-medium: 500;

$lh-medium: 1.25rem;

$breakpoints: (
  'small': (min-width: 48em),
  'medium': (min-width: 64em),
  'large': (min-width: 90em),
)